<body class="default">
<div style="padding-top:25px"></div>

<div class="row">

  <div class="col-md-8 col-centered">

    <div class="image" style="padding-top:20px">

      <% couches = Couch.all %>
      <% fotos = Foto.all %>


      <% if couches.nil? %>


      <% else %>


      <% couches.each do |c| %>

        <% fotoPrincipal = Foto.where("couch_id=#{c.id}").first %>


        <% if fotoPrincipal.nil? %>

          <%= image_tag "sofa-outline.png", class:"img-responsive img-rounded" %>

        <% else %>

          <%= image_tag fotoPrincipal.nombre, :class=>"img-responsive img-rounded" %>

        <% end %>


        <div class="containter-info">

          <div class="cube">
            <span class=""> <strong> <%= c.tipo %> </strong>
            </br> para <%= c.capacidad%> persona(s) </span>
          </div>

          <div class="cube">

            <p class="descripcion"> <%= c.descripcion.first(115) %> </p>

          </div>

          <div>

            <%= link_to "Ver más...", c , class:"cube btn"%>

          </div>

      <% end %>

      <% end %> <!-- if -->


        </div>

    </div>

  </div>

</div>

</body>
