<body class="default">

<div style="padding-top:25px"></div>

<div class="row">

	<div class="col-md-8 col-centered">
 		<h1><span class="label label-default"> Mis couches</span></h1>
	</div>


    <div class="image" style="padding-top:20px">


 	<% if @couches.nil? %>
    	<h1> No has publicado ningun couch ¡Qué esperas! ¡Hay muchos viajeros esperando! </h1>

    <% else %>

	    <% @couches.each do |c| %>

			<div class="col-md-10 col-md-8 col-centered">
	    		<div class="thumbnail">
	      			<% fotoPrincipal = @fotos.where("couch_id=#{c.id}").first %>

		       		<% if fotoPrincipal.nil? %>
						<%= image_tag "sofa-outline.png", class:"img-responsive img-rounded" %>
		       		<% else %>
		       			<%= image_tag fotoPrincipal.nombre, :class=>"img-responsive img-rounded" %>
		       		<% end %>

	      			<div class="caption">

	      				<div class="containter-info">

	       					<div class="cube">
	           					<span class=""> <strong> <%= tipo_couch_index(c) %> </strong>
	           					</br> para <%= c.capacidad%> persona(s) </span>
	       					</div>

	       					<div class="cube">
	          					<p class="descripcion"> <%= c.descripcion.first(115) %> </p>
							</div>

	       					<div>
	        					<%= link_to "Ver más...", c , class:"cube btn"%>
   							</div>

   							<div>
	        					<%= link_to "Modificar", edit_couch_path(c.id) , class:"cube-large-1 btn"%>
   							</div>

   							<div>
	        					<%= button_to "Eliminar", c, method: :delete, data: {confirm: "Esta seguro que desea eliminar este Couch?"} , class:"cube-large-2 btn" %>
   							</div>
   						</div>


	      			</div>
				</div>
			</div>



		<% end %>
	<% end %> <!-- if -->


	</div>


</div>

</body>

