<body class="default">

<div style="padding-top:25px"></div>

<div class="row">

<div class="col-md-8 col-centered">
  <% if !params[:page].blank? %>
    <h2> Página <%= params[:page] %> </h2>
  <% end %>
</div>

</div>

<div class="row">

  <% if !current_user.blank? %>
    <% if current_user.rol == "admin" %>

      <div class="col-md-3">

        <div class="panel panel-primary panel-admin">

          <div class="panel-heading">
            <h4> Espacio administrador </h4>
          </div>

            <ul class="list-group">
              <%= link_to "Gestión de tipos de Couch", tipocs_path , type: "button", class:"list-group-item"  %>
              <%= link_to "Resumen de ganancias", payments_resumen_path, type: "button", class:"list-group-item" %>
            </ul>


        </div>

      </div>

      <div class="col-md-8">

    <% else %>

      <div class="col-md-8 col-centered">

    <% end %>

  <% else %>

    <div class="col-md-8 col-centered">

  <% end %>

    <% if !current_user.blank? %>
    <h1 class="label label-primary"> <%= current_user.rol %> </h1>
    <% end %>
    <div class="spacer-div"></div>

    <% if @couches.blank? %>
      <h3> No hay couches para mostar </h3>
    <% else %>

      <%= render @couches %>

    <% end %>

  </div> <!-- COL MD 8 -->

</div> <!-- ROW -->

<div class="col-md-8 col-centered" id="infinite-scrolling">

  <%= will_paginate @couches %>

</div>

</body>
