<body class="default">

<div style="padding-top:25px"></div>

<div class="row">


  <% if !current_user.blank? %>
    <% if current_user.rol == "admin" %>

      <div class="col-md-3">

        <div class="panel panel-primary panel-admin">

          <div class="panel-heading">
            <h4> Espacio administrador </h4>
          </div>

            <ul class="list-group">
              <%= link_to "Gestión de tipos de Couch", tipocs_path , type: "button", class:"list-group-item"  %>
              <%= link_to "Resumen de ganancias", payments_resumen_path, type: "button", class:"list-group-item" %>
            </ul>


        </div>

      </div>

  <div class="col-md-8">
    <% else %>
  <div class="col-md-8 col-centered">
  <% end %>
  <% else %>
  <div class="col-md-8 col-centered">
  <% end %>

    <% if !current_user.blank? %>
    <h1 class="label label-primary"> <%= current_user.rol %> </h1>
    <% end %>


    <div class="image" style="padding-top:20px">


      <% if @couches.nil? %>

        <h3> No hay couches para mostrar. Creá uno para ser el primero! </h3>

      <% else %>


      <% @couches.each do |c| %>

        <% fotoPrincipal = c.photo.url(:medium) %>


        <% if fotoPrincipal.nil? %>

          <%= image_tag "c-ph.jpeg", class:"img-responsive img-rounded" %>

        <% else %>

          <%= image_tag fotoPrincipal, :class=>"img-responsive img-rounded" %>

        <% end %>


        <div class="containter-info">

          <% if @users.find(c.user_id).rol == "premium" %>
          <div class="rol-label"> <span class="label label-success"> Premium </span> </div>
          <% end %>

          <div class="cube">
            <span class=""> <strong> <%= tipo_couch_index(c) %> </strong>
            </br> para <%= c.capacidad %> <%= 'persona'.pluralize(c.capacidad) %> </span>
          </div>

          <div class="cube">
            <p class="descripcion"> <%= c.descripcion.first(115) %> </p>
          </div>

          <div class="cube">
            <%= link_to "Ver más...", c , class:"btn vermas"%>
          </div>

      <% end %> <!-- EACH DO -->

      <% end %> <!-- IF -->


        </div> <!-- CONTAINER INFO -->

    </div> <!-- IMAGE -->

  </div> <!-- COL MD 8 -->

</div> <!-- ROW -->

</body>
