<body class="show-couch">

<div style="padding-top:20px"></div>

<h1 style="text-align:center; color:gray"><em>Couch - <%= @couch.id %></em></h1>

<div style="padding-top:20px"></div>

<% if @couch.errors.full_messages.any? %>
    <div class="alert alert-danger">
      <% @couch.errors.full_messages.each do |error_message| %>
          <%= error_message if @couch.errors.full_messages.first == error_message %> <br />
      <% end %>
      </div>
<% end %>

<div class="row">


<% if @couch.photo? %>


<div class="col-md-12">

  <%= image_tag @couch.photo.url(:large), class:"img-responsive img-center img-rounded" %>

</div>

<% end %>

</div> <!-- row foto -->




<div class="row">

<div style="padding-top:30px"></div>



<div class="col-md-3 col-md-offset-1">

  <h4 style="text-align:right">  <span style="font-size:12px"> Publicado por </span> <span>  <%= @couch.get_owner.nombre %> <%= image_tag(@couch.get_owner.avatar.url(:thumb), class:"round-image-50") %> </span></h4>

</div>

<div class="col-md-4">

  <%= render 'couches/couchShow', show:true %>

  <% if !current_user.blank? %>

    <% if current_user.id == @couch.user_id %> <!-- si el usuario actual es el dueño -->

          <div>
              <%= link_to "Gestionar reservas", reservations_path(cid: @couch.id), class:"btn btn-primary btn-block" %>
          </div>


          <div class="spacer-min">
            <%= link_to "Ver calificaciones", qualifications_show_path(couch_id: @couch.id), class:"btn btn-primary btn-block" %>
          </div>

          <div class="spacer-min">
            <%= link_to "Modificar", edit_couch_path(@couch) , class:"btn btn-primary btn-block"%>
          </div>

          <div class="spacer-min">
            <% if Reservation.where('couch_id = ? and confirmed = ?',@couch.id, true).count == 0 %>
              <%= link_to "Eliminar", @couch, method: :delete , data: {confirm: "Esta seguro que desea eliminar este Couch?"} , class:"btn btn-danger btn-block" %>
            <% else %>
              <%= link_to "Eliminar", @couch, method: :delete , data: {confirm: "Usted habia confirmado reservas para este Couch, no puede eliminarlo ahora. Desea ocultarlo y que se elimine cuando se completen las reservas actuales?"} , class:"btn btn-danger btn-block" %>
            <% end %>
          </div>

    <% else %>
          <div>
              <%= link_to "Enviar solicitud de reserva", new_reservation_path(couch_id: @couch.id), class:"btn btn-primary btn-block" %>
          </div>

          <% if @couch.has_confirmed_reservation(current_user) > 0 %>
          <div class="spacer-min">
            <!-- esto me deberá redirigir al perfil del dueño y obtener su info -->
            <%= link_to "Contactar dueño", users_path, class:"btn btn-primary btn-block" %>
          </div>
          <% end %>

    <% end %>

  <% end %>

</div> <!-- col 4 -->




<% if user_signed_in? %>
  <% if current_user.id != @couch.user_id %>

    <div class="col-md-2">

    <%= form_for @nuevacalif do |f| %>

      <% if @nuevacalif.errors.full_messages.any? %>
        <div class="alert alert-danger">
          <% @nuevacalif.errors.full_messages.each do |error_message| %>
            <%= error_message if @nuevacalif.errors.full_messages.first == error_message %> <br />
        </div>
          <% end %>

      <% end %> <!-- end error -->

      <%= f.hidden_field :couch_id, :value => @couch.id %>

        <div class="panel panel-default">

          <div class="panel-heading">Calificar</div>

          <div class="panel-body">


            <div class="">Puntuación: <%= @promedio%>
          </br>
           <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
        <% if @promedio > 1 %></td>
            <a href="#" data-value="1" title="Votar con 2 estrellas">&#9733;</a>
              <% if @promedio > 2 %></td>
                <a href="#" data-value="1" title="Votar con 3 estrellas">&#9733;</a>
                <% if @promedio > 3 %></td>
                  <a href="#" data-value="1" title="Votar con 4 estrellas">&#9733;</a>
                  <% if @promedio > 4 %></td>
                    <a href="#" data-value="1" title="Votar con 5 estrellas">&#9733;</a>
                  <% end %>

                <% end %>
              <% end %>
          <% end %>
          </div>


          <div class="spacer-min"></div>

            <%= f.select :percentage, options_for_select(["1", "2","3","4","5"]),{}, class:"form-control list-group-item"   %>
          </div>

          <div class="list-group">
            <%= f.text_area :description, cols: 10, rows: 5, class:"form-control list-group-item", placeholder: 'Describa su experiencia en este couch - máximo 70 caracteres'%>
            <%= f.submit "OK", class:"list-group-item btn btn-block" %>
            <%= link_to "Ver calificaciones", qualifications_show_path(couch_id: @couch.id), class:"list-group-item btn btn-block" %>

          </div>


      </div>

    <% end %> <!-- end form -->


  </div>

  <% end %>
<% end %> <!-- end ifs -->

</div> <!-- row -->


<!-- ************* PREGUNTAS ************* -->


<div style="padding-top:50px"></div>

<div class="col-questions">

<div class="row">

  <div class="col-md-6 col-centered">

  <div class="spacer-div"></div>

  <h2 style="text-align:center"> Obtené más info </h2>

    <% if user_signed_in? %>

      <h6 class="label label-default"> Alguna duda? </h6>
      <div class="spacer-min"></div>

      <%= form_for @question do |q| %>


        <%= q.hidden_field :couch_id, value:@couch.id %>
        <%= q.hidden_field :user_id, value:current_user.id %>
        <%= q.text_field :question, placeholder:"Escribe tu pregunta",class:"form-control" %>
        <%= q.submit "Enviar", class:"btn btn-primary" %>

      <% end %>

      <div style="padding-top:20px"></div>

    <% else %>

      <h4 style="text-align:center"> Debes <%= link_to "ingresar", new_user_session_path %> para poder preguntar </h4>

    <% end %>

  </div> <!-- col 8 -->

</div> <!-- row -->

<div style="padding-top:30px"></div>

<% if @questions.count > 0 %>

  <div class="col-md-5 col-md-offset-4">
  <h6 class="label label-primary"> Preguntas </h6>
  </div>

  <% @questions.each do |q| %>

  <div class="row">

    <div class="col-md-3 col-md-offset-1">

      <h4 style="text-align:right"> <%= User.find(q.user_id).nombre %> <%= image_tag(User.find(q.user_id).avatar.url(:thumb), class:"round-image-50") %> </h4>


    </div>

    <div class="col-md-5">


    <div class="spacer-min"></div>

      <%= text_field_tag "Pregunta", nil, value:q.question, readonly:true ,class:"form-control" %>

      <%= text_area_tag "Respuesta", q.answer, readonly:true ,class:"form-control" %>


      <% if user_signed_in? %>

        <% if @couch.is_owner?(current_user) %>
          <%= link_to "Responder", edit_question_path(q), class:"btn btn-default" %>
        <% end %>

        <% if q.is_owner?(current_user) or @couch.is_owner?(current_user) %>
          <%= link_to "Eliminar", q, method: :delete, class:"btn btn-danger" %>
        <% end %>

      <% end %>


      <span class="label label-default"> Preguntada <%= time_ago_in_words q.created_at %> atrás</span>

      <div class="spacer-div"></div>


      <div style="padding-top:40px"></div>

    </div>

  </div>

  <% end %>

<% end %>







</body>
