<script type="text/javascript">

  $(document).ready(function() {
    $("#owl-show").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 3,
      itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2]

    });
  });

</script>

<body class="show-couch">

<div style="padding-top:40px"></div>

<div class="col-md-8 col-centered">

  <%= render 'couches/couch', show:true %>

</div>


<div id="owl-show" class="owl-carousel">

  <% cid = @couch.id %>
  <% fotos = Foto.where("couch_id=#{cid}") %>
  <% fotos.each do |f| %>

  <div class="item"> <%= image_tag f.nombre, class:"img-rounded img-show-couch" %> </div>

  <%end%>

</div>


<% if !current_user.blank? %>
  <%= form_for @couch do |f| %>
  <% if current_user.id == @couch.user_id %>
        <div class="botonsolicitar">

            <%= link_to "Gestionar reserva", reservations_path(cid: @couch.id), class:"btn btn-primary" %>
          </div>
          <div class="botoncalificar">
            <%= link_to "Ver calificaciones", qualifications_show_path(couch_id: @couch.id), class:"btn btn-primary" %>
             </div>
  <% else %>
        <div class="botonsolicitar">

            <%= link_to "Enviar solicitud de reserva", new_reservation_path(couch_id: @couch.id), class:"btn btn-primary" %>
            <!-- link_to "Atras", root_path, class:"btn btn-default"%> -->
        </div>
         <div class="botoncalificar">
        <%= link_to "Calificar", qualifications_new_path(couch_id: @couch.id), class:"btn btn-primary" %>
      </div>
<% end %>
<% end %>
<% end %>


</body>
