<script type="text/javascript">
  $(document).ready(function() {
    $("#owl-show").owlCarousel({
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items : 3,
      itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2]
    });
  });
</script>

<body class="show-couch">

<div style="padding-top:40px"></div>

<div class="col-md-8">

<% if @couch.errors.full_messages.any? %>
    <div class="alert alert-danger">
      <% @couch.errors.full_messages.each do |error_message| %>
          <%= error_message if @couch.errors.full_messages.first == error_message %> <br />
        <% end %>
      </div>
    <% end %>

  <%= image_tag @couch.photo.url(:small) %>

  <%= render 'couches/couch', show:true %>

</div>


<div id="owl-show" class="owl-carousel">

  <% cid = @couch.id %>
  <% fotos = Foto.where("couch_id=#{cid}") %>
  <% fotos.each do |f| %>

  <div class="item"> <%= image_tag f.nombre, class:"img-rounded img-show-couch" %> </div>

  <%end%>

</div>

 <% if user_signed_in? %>


<% if user_signed_in? %>
  <% if current_user.id != @couch.user_id %>

    <div class="col-md-4">

    <%= form_for @nuevacalif do |f| %>

      <% if @nuevacalif.errors.full_messages.any? %>
        <div class="alert alert-danger">
          <% @nuevacalif.errors.full_messages.each do |error_message| %>
            <%= error_message if @nuevacalif.errors.full_messages.first == error_message %> <br />
        </div>
          <% end %>

      <% end %> <!-- end error -->



      <%= f.hidden_field :couch_id, :value => @couch.id %>


      <div class="cuadradocalif">

          <div class="panel panel-default">
              <div class="panel-heading">Califique ya!</div>
              <div class="panel-body">
                  <%= f.label :percentage, "Calificacion?",class:"label label-default" %>
                  <div class="w-label">
                      <%= f.select :percentage, options_for_select(["Muy malo", "Malo","Regular","Bueno","Muy bueno"]), :class => 'genForm_dropBox' %>
                   </div>
                     </br>
                  <%= f.label :description, "Breve descripcion de su experiencia",class:"label label-default", for:"comment" %>
                  <div class="w-label">
                      <%= f.text_area :description, cols: 10, rows: 5, class:"form-control", placeholder: 'Maximo 70 caracteres'%>
                  </div>
                  </br>

      <%= f.submit "Aceptar calificacion", class:"btn btn-primary" %>
        <div class="panel-heading">Mira todas las calificaciones</div>
      <%= link_to "Ver calificaciones", qualifications_show_path(couch_id: @couch.id), class:"btn btn-success" %>
              </div>
          </div>

        </div>

<% end %>


<% end %>










<% if !current_user.blank? %>
  <%= form_for @couch do |f| %>
  <% if current_user.id == @couch.user_id %>
        <div class="botonsolicitar">


            <%= link_to "Gestionar reservas", reservations_path(cid: @couch.id), class:"btn btn-primary" %>
          </div>

  <% else %>
        <div class="botonsolicitar">

            <%= link_to "Enviar solicitud de reserva", new_reservation_path(couch_id: @couch.id), class:"btn btn-primary" %>
            <!-- link_to "Atras", root_path, class:"btn btn-default"%> -->
        </div>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<h1></br></h1>
</body>
