<div class="image" style="padding-top:20px">

      <% if @couches.blank? %>

        <h3> No hay resultados a tu búsqueda, intenta con otros parámetros. </h3>

      <% else %>


      <% @couches.each do |c| %>

        <% fotoPrincipal = @fotos.where("couch_id=#{c.id}").first %>


        <% if fotoPrincipal.nil? %>

          <%= image_tag "c-ph.jpeg", class:"img-responsive img-rounded" %>

        <% else %>

          <%= image_tag fotoPrincipal.nombre, :class=>"img-responsive img-rounded" %>

        <% end %>


        <div class="containter-info">

          <div class="cube">
            <span class=""> <strong> <%= tipo_couch_index(c) %> </strong>
            </br> para <%= c.capacidad%> persona(s) </span>
          </div>

          <div class="cube">
            <p class="descripcion"> <%= c.descripcion.first(115) %> </p>
          </div>

          <div class="cube">
            <p class="descripcion"> <%= c.ubicacion.first(115) %> </p>
          </div>

          <div class="cube">
            <%= link_to "Ver más...", c , class:"btn vermas"%>
          </div>
            <!-- Uncomment the line above to see ordered couches by user role -->




      <% end %>

      <% end %> <!-- if -->


        </div>

    </div>
