<h1> Calificacion </h1>
<%= form_for @nuevacalif do |f| %>
	
	<% if @nuevacalif.errors.full_messages.any? %>
 		<div class="alert alert-danger">
    	<% @nuevacalif.errors.full_messages.each do |error_message| %>
      		<%= error_message if @nuevacalif.errors.full_messages.first == error_message %> <br />
    		<% end %>
  		</div>
  	<% end %>



	<%= f.hidden_field :couch_id %>

      <button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
      



      <div class="form-group">

        <%= f.label :percentage, class:"label label-default" %>
		 <div class="w-label">
        <%= f.select(:percentage, ["Muy malo", "Malo","Regular","Bueno","Muy bueno","Exelente"], {}, { :percentage => "percentage", class:"form-control"}) %>
        </div>
 		</div>


		<div class="form-actions">
          <%= f.submit "Aceptar calificacion", class:"btn btn-primary" %>
          <%= link_to "Cancelar", root_path, class:"btn btn-default" %>
   		 </div>

<% end %>


