<h5> Que calificacion tendria el Couch en base a su experiencia? </h5>
<%= form_for @nuevacalif do |f| %>
	
	<% if @nuevacalif.errors.full_messages.any? %>
 		<div class="alert alert-danger">
    	<% @nuevacalif.errors.full_messages.each do |error_message| %>
      		<%= error_message if @nuevacalif.errors.full_messages.first == error_message %> <br />
    		<% end %>
  		</div>
  	<% end %>



	<%= f.hidden_field :couch_id %>



      <div class="form-group">

        <%= f.label :percentage, "Calificacion",class:"label label-default" %>
       <div class="w-label">
         <%= f.select :percentage, options_for_select(["Muy malo", "Malo","Regular","Bueno","Muy bueno"]), :class => 'genForm_dropBox' %>
        </div>
       </div>

       <h5> Breve descripcion de su experiencia con el Couch</h5>
      <div class="form-group">
        <%= f.label :description, class:"label label-default", for:"comment" %>

        <div class="w-label">
          <%= f.text_area :description, class:"form-control", placeholder: 'Maximo 70 caracteres'%>
        </div>
      </div>


   

		<div class="form-actions">
          <%= f.submit "Aceptar calificacion", class:"btn btn-primary" %>
          <%= link_to "Cancelar", root_path, class:"btn btn-default" %>
   		 </div>

<% end %>


