<h1>Listado de Reservas</h1>
 


<table class="table">
  <tr>
    <th>Tipo Couch</th>
    <th> Nombre del usuario </th>
    <th> Email del usuario </th>
    <th>Fecha de inicio</th>
    <th>Fecha de terminado</th> 
    <th>Estado de la reserva</th>
    <th>Gestion de reservas</th>
  </tr>
 
  <% @reservas.each do |article| %>
    <tr>
      <td><%= Tipoc.find(Couch.find(article.couch_id).tipo).tipo %></td>
      <td><%= User.find(article.user_id).nombre %></td>
      <td><%= User.find(article.user_id).email %></td>
      <td><%= article.start_date %></td>
      <td><%= article.end_date %></td>
      <% if article.confirmed == true %>
      <td> Reservado </td>
      <% else %>
      <td> No reservado </td>
      <% end %>
      <td>
        <%= link_to "Aceptar", reservations_edit_path(:reservation_id => article.id), class: 'btn btn-info btn-sm' %>
        <%= link_to "Denegar", article, method: :delete, data:{confirmed: "Eliminar reserva?"},type: "button", class: 'btn btn-danger btn-sm' %>
      </td>
    </tr>
  <% end %>
  <% if @reservas.size == 0 %>
    <tr> <td colspan="3"> No hay Reservas </td> </tr>
  <% end %>

</table>