<div class="col-md-8 col-centered">

  <h1>Listado de Reservas</h1>

  <table class="table">
    <tr>
      <th>Tipo Couch</th>
      <th> Nombre del usuario </th>
      <th> Email del usuario </th>
      <th>Fecha de inicio</th>
      <th>Fecha de terminado</th>
      <th>Estado de la reserva</th>
      <th>Gestion de reservas</th>
    </tr>

    <% @reservas.each do |r| %>
      <tr>
        <td><%= Tipoc.find(Couch.find(r.couch_id).tipo).tipo %></td>
        <td><%= User.find(r.user_id).nombre %></td>
        <td><%= User.find(r.user_id).email %></td>
        <td><%= r.start_date %></td>
        <td><%= r.end_date %></td>
        <% if r.confirmed == true %>
        <td> Reservado </td>
        <% else %>
        <td> No reservado </td>
        <% end %>
      </tr>
    <% end %>
    <% if @reservas.size == 0 %>
      <tr> <td colspan="3"> No hay Reservas </td> </tr>
    <% end %>

  </table>


</div>
