<body class="misreservas">
<!-- LISTADO DE RESERVAS DEL USUARIO ACTUAL -->

<div class="col-md-11 col-centered">

<h1>Listado de mis reservas solicitadas</h1>

  <table class="table table-responsive table-striped table-hover ">
    <tr>
      <th>Solicitada el día</th>
      <th>Couch</th>
      <th>Fecha de inicio</th>
      <th>Fecha de terminado</th>
      <th>Estado de la reserva</th>
      <th>Gestion de reservas</th>
    </tr>

    <% @reservas.each do |r| %>
      <tr class="active">
        <td><%= I18n.l r.created_at, format: :short%></td>
        <td><%= link_to Couch.find(r.couch_id).get_tipo, Couch.find(r.couch_id) %></td>
        <td><%= r.start_date %></td>
        <td><%= r.end_date %></td>
        <% if r.confirmed == true %>
        <td> Confirmado </td>
        <% else %>
        <td> En espera </td>
        <% end %>
        <td>
          <%= link_to "Modificar", edit_reservation_path(r), class: 'btn btn-info btn-sm' %>
          <%= link_to "Cancelar", r, method: :delete, data:{confirmed: "Eliminar reserva?"},type: "button", class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
    <% if @reservas.size == 0 %>
      <tr class="active"> <td colspan="3"> No hay Reservas </td> </tr>
    <% end %>

  </table>

</div>

</body>
