
<%= form_for @payment do |f| %>

<% if @payment.errors.any? %>
  <div class="alert alert-danger">
    <a class="close" data-dismiss="alert">×</a>
    <% for message in @payment.errors.full_messages %>
      <%= message %>
      </br>
    <% end %>
  </div>
<% end %>

<div class="col-lg-5 col-centered">
<div class="form-group">
  <%= f.label "Monto", 'Precio',  :type =>'label', :for =>'priceField', class:"label label-default"%>
  <div class="spacer-min"></div>
  <div>
    <%= f.text_field "Monto", :type=>'input',:class => 'form-control' , :value => '19.99 (US$)' , :readonly => true, :id => 'priceField'%>
  </div>
</div>


<div class="form-group">
  <%= f.label :cardNumber,'Número de tarjeta de credito', :type=>'label', :for=>'cardNumberField',class:"label label-default" %>
  <div class="spacer-min"></div>
  <div class="controls">
    <%= f.text_field :cardNumber, :class => 'form-control', :id=>'cardNumberField', :placeholder=>'123412341234' %>
  </div>
</div>



<div class="form-group">
  <%= f.label :cardCVV,'CVV', :type=>'label', :for=>'cardCVVField', class:"label label-default" %>
  <div class="spacer-min"></div>
  <div class="controls">
    <%= f.text_field :cardCVV, :class => 'form-control', :id=>'cardCVVField', :placeholder=>'123' %>
  </div>
</div>



<div class="form-group">
  <%= f.label :cardExpiryMonth,'Mes de expiración', class:"label label-default"%>
  <div class="spacer-min"></div>
  <div>
    <%= f.select(:cardExpiryMonth, options_for_select(cc_months),:class=>"form-control")%>
  </div>
</div>


<div class="form-group">
  <%= f.label :cardExpiryYear,'Año de expiración', :class => 'control-label', class:"label label-default" %>
  <div class="spacer-min"></div>
  <div>
    <%= f.select(:cardExpiryYear, options_for_select(cc_years), class:"form-control")%>
  </div>
</div>

<div class="spacer-min"></div>

<div class="form-actions">
  <%= f.submit 'Efectuar pago', :class => 'btn btn-primary ' %>
  <%= link_to "Cancelar", root_path, :class => 'btn btn-default' %>
</div>
<% end %>

</div>
