<p>Hola <%= @resource.nombre %>!</p>

<p> Alguien solicitó un cambio para tu contraseña. Puedes hacerlo a través del siguiente enlace: </p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Si vos no solicitaste este cambio, es posible que alguien te esté jugando una broma. Para evitar problemas con las contraseñas te recomendamos ingresar contraseñas fuertes y aleatorias, por lo general evitar contraseñas como: "12345...", "<%= @resource.nombre.split.first.downcase %><%= @resource.apellido.split.first.downcase%>", tu fecha de cumpleaños o el nombre de tu novio(a). </p>
<p>Solo ignora este correo si no solicitaste cambiar la contraseña.</p>
<p> Tu contraseña no va a cambiar hasta que accedas al enlace de arriba y crees una nueva.</p>

<%= render 'firma' %>
