%= dis = !user_signed_in? %>

<div class="navbar">
<nav class="navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav">

          <li class="texto">
            <%= link_to "Inicio", root_path, class:"" %> <span class="sr-only">(current)</span>
          </li>


          <li class="texto"> <!-- CREAR COUCH -->
            <%= link_to_if user_signed_in?,"✚ Couch", couches_new_path do %>
            <%= link_to "✚ Couch", couches_new_path, class:"btn disabled" %>
            <%  end %>
        </li>


        <li class="texto"> <!-- NOTIFICACIONES -->
          <%= link_to_if user_signed_in?,"Notificaciones", root_path do %>
          <%= link_to "Notificaciones", root_path, class:"btn disabled" %>
          <%  end %>
        </li>

      </ul>


      <ul class="nav navbar-nav navbar-right">


        <li style="padding:15px"></li> <!-- ESPACIADO -->

        <li class="texto"> <!-- BUSCADOR -->
          <%= link_to_if user_signed_in?,"Buscar couch", searchings_path do %>
          <%= link_to "Buscar couch", searchings_path, class:"btn disabled" %>
          <%  end %>
        </li>


        <li class="texto"> <!-- BE PREMIUM -->
          <%= link_to_if user_signed_in?,"Be premium", new_payment_path do %>
          <%= link_to "Be premium", new_payment_path, class:"btn disabled" %>
          <%  end %>
        </li>


        <li class="dropdown texto"> <!-- DROPDOWN PERFIL -->

        <% if user_signed_in? %>


          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Perfil <span class="caret"></span></a>

          <ul class="dropdown-menu">

            <li>
              <%= link_to 'Editar Perfil', edit_user_registration_path %>
            </li>

            <li>
              <%= link_to 'Mis couches', root_path %>
            </li>

            <li>
              <%= link_to 'Ayuda', root_path %>
            </li>

            <li>
              <%= link_to 'Acerca de', root_path %>
            </li>

            <li role="separator" class="divider"></li>
            <li>

              <%= link_to "Salir", destroy_user_session_path, method: :delete %>

            </li>

          </ul> <!-- fin del dropdown-->

        <% else %>

          <li class="texto">
            <%= link_to "Ingresar", new_user_session_path, class:"" %>
        </li>

        <li class="dropdown dropdown-ingresar">
          <!-- Split button -->
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"> Ayuda </a></li>
            <li><a href="#"> Acerca de </a></li>
          </ul>

        </li>   <!-- fin del dropdown-->

        <li class="spacer-li"> </li>

        <% end %>

        </li>   <!-- fin del dropdown-->

        <li class="spacer-li"> </li>

      </ul>

      </ul> <!-- navbar right -->

      <!-- LOGO -->

        <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "logo_80.png", style: "", title: "Logo", class: "img-responsive logo" %>
        <% end %>

    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->

</nav>

</div>