<div class="navbar navbar-fixed-top">
  <table>
    <tr>
      <td class="td-nav">

        <button type="button" class="btn btn-default navbar-btn">
        <%= link_to "Inicio", root_path, class: 'btn btn-nav ' %>
        </button>

      </td>

      <td class="td-nav">
        <% if user_signed_in? %>
          <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "Notificaciones", root_path, class: 'btn btn-nav ' %>
          </button>
        <% end %>
      </td>

      <td class="td-nav">
        <p></p>
      </td>

      <td class="td-nav-logo">
        <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "logo_80.png", title: "Logo", class: "logo" %>
        <% end %>
      </td>

      <td class="td-nav">

        <% if user_signed_in? %>
          <% if current_user.rol == 'premium' %>
            <p> ...buscador...</p>
          <% else %>
            <%= link_to "Be premium!", new_payment_path, class: 'btn btn-nav' %>
          <% end %>
        <% end -%>
      </td>

      <td class="td-nav">

        <%= link_to "Crear couch", root_path, class: 'btn btn-nav' %>

      </td>

      <td class="td-nav"> <%= render 'layouts/userNav' %> </td>
    </tr>

  </table>
</div>
